
body
{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff,#EFB0C9);
    color:#ffffff ;
    
}
h1,h2,h3,h4,p
{
    text-shadow: 0px 0px 2px black;
}
.header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
#nick-picture
{
    width: 200px;
    border-radius: 50%;
    border: 8px solid #EFB0C9;

}
#nick-age
{
    background: #EFB0C9;
    padding: 5px 10px;
    margin: 10px 0 5px 0;
}
#birthday-date
{
    background: #EFB0C9;
    padding: 5px 10px;

}

.gift-section
{
    margin: 40px 0;
}
.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/giftcover.jpg");
    background-size: cover;
}

#gift-img-happy:hover
{
    background-image: url("images/happy.gif");
}

#gift-img-hot:hover
{
    background-image: url("images/hot.gif");
}


#gift-img-genius:hover
{
    background-image: url("images/genius.gif");
}

#gift-img-badass:hover
{
    background-image: url("images/badass.gif");
}
#gift-img-cheers
{
    height: 200px;

}
#gift-img-cheers:hover
{
    background-image: url("images/cheers.gif");
}



